<a href="https://colab.research.google.com/github/ParkJongHyeok99/Data_Analysis_Airbnb/blob/main/Data_Analysis_Airbnb.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

google colab 연동 및 데이터 전처리

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [13]:
import pandas as pd
import numpy as np

source_data = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/Data_Analysis/detailed_listings.csv')
source_data.shape

delete_columns_data = source_data.drop(labels=['listing_url', 'scrape_id', 'last_scraped', 'source', 'name', 'description', 'neighborhood_overview', 'picture_url',
                                               'host_id', 'host_url', 'host_name', 'host_since', 'host_location', 'host_about', 'host_acceptance_rate', 'host_thumbnail_url', 'host_picture_url',
                                               'host_neighbourhood', 'host_listings_count', 'host_total_listings_count', 'host_verifications', 'host_has_profile_pic', 'host_identity_verified',
                                               'neighbourhood', 'neighbourhood_group_cleansed', 'property_type', 'bathrooms', 'minimum_nights', 'maximum_nights', 'minimum_minimum_nights',
                                               'maximum_minimum_nights', 'minimum_maximum_nights', 'maximum_maximum_nights', 'minimum_nights_avg_ntm', 'maximum_nights_avg_ntm', 'calendar_updated',
                                               'has_availability', 'availability_30', 'availability_60', 'calendar_last_scraped', 'number_of_reviews_ltm', 'number_of_reviews_l30d', 'first_review',
                                               'last_review', 'license', 'calculated_host_listings_count', 'calculated_host_listings_count_entire_homes', 'calculated_host_listings_count_private_rooms',
                                               'calculated_host_listings_count_shared_rooms', 'reviews_per_month'], axis = 1)       #사용하지 않는 열 제거

delete_columns_data.shape

(38792, 25)

In [14]:
delete_columns_data.head(3)

,id,host_response_time,host_response_rate,host_is_superhost,neighbourhood_cleansed,latitude,longitude,room_type,accommodates,bathrooms_text,...,availability_365,number_of_reviews,review_scores_rating,review_scores_accuracy,review_scores_cleanliness,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value,instant_bookable
0,9630344,NaN,NaN,f,Bushwick,40.68457,-73.91181,Private room,1,1 shared bath,...,364,5,4.8,4.6,5.0,5.0,5.0,4.8,5.0,f
1,3533741,NaN,NaN,f,Hell's Kitchen,40.76878,-73.98719,Private room,2,1 bath,...,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,f
2,9731039,NaN,NaN,f,Sunnyside,40.74343,-73.91865,Entire home/apt,1,1 bath,...,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,f

In [15]:
delete_columns_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 38792 entries, 0 to 38791
Data columns (total 25 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   id                           38792 non-null  int64
 1   host_response_time           25618 non-null  object
 2   host_response_rate           25618 non-null  object
 3   host_is_superhost            38537 non-null  object
 4   neighbourhood_cleansed       38792 non-null  object
 5   latitude                     38792 non-null  float64
 6   longitude                    38792 non-null  float64
 7   room_type                    38792 non-null  object
 8   accommodates                 38792 non-null  int64
 9   bathrooms_text               38750 non-null  object
 10  bedrooms                     21892 non-null  float64
 11  beds                         38129 non-null  float64
 12  amenities                    38792 non-null  object
 13  price                        38792 non-null  object
 14  availability_90              38792 non-null  int64
 15  availability_365             38792 non-null  int64
 16  number_of_reviews            38792 non-null  int64
 17  review_scores_rating         28445 non-null  float64
 18  review_scores_accuracy       28030 non-null  float64
 19  review_scores_cleanliness    28040 non-null  float64
 20  review_scores_checkin        28026 non-null  float64
 21  review_scores_communication  28034 non-null  float64
 22  review_scores_location       28023 non-null  float64
 23  review_scores_value          28024 non-null  float64
 24  instant_bookable             38792 non-null  object
dtypes: float64(11), int64(5), object(9)
memory usage: 7.4+ MB

In [16]:
#ID 변수인 id값의 중복 여부 체크
n = len(pd.unique(delete_columns_data['id']))
print(n)

38792

In [19]:
#구간 변수 : host_response_rate, latitude , longitude , accommodates, bedrooms, beds, availability_90, availability_365, number_of_reviews
#구간 변수 : review_scores_rating, review_scores_accuracy, review_scores_cleanliness, review_scores_checkin, eview_scores_communication, review_scores_location, review_scores_value (16개)

#host_response_rate을 numeric으로 변환
delete_columns_data['host_response_rate'] = delete_columns_data['host_response_rate'].str.replace('%', '').astype(float)
delete_columns_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 38792 entries, 0 to 38791
Data columns (total 25 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   id                           38792 non-null  int64
 1   host_response_time           25618 non-null  object
 2   host_response_rate           25618 non-null  float64
 3   host_is_superhost            38537 non-null  object
 4   neighbourhood_cleansed       38792 non-null  object
 5   latitude                     38792 non-null  float64
 6   longitude                    38792 non-null  float64
 7   room_type                    38792 non-null  object
 8   accommodates                 38792 non-null  int64
 9   bathrooms_text               38750 non-null  object
 10  bedrooms                     21892 non-null  float64
 11  beds                         38129 non-null  float64
 12  amenities                    38792 non-null  object
 13  price                        38792 non-null  object
 14  availability_90              38792 non-null  int64
 15  availability_365             38792 non-null  int64
 16  number_of_reviews            38792 non-null  int64
 17  review_scores_rating         28445 non-null  float64
 18  review_scores_accuracy       28030 non-null  float64
 19  review_scores_cleanliness    28040 non-null  float64
 20  review_scores_checkin        28026 non-null  float64
 21  review_scores_communication  28034 non-null  float64
 22  review_scores_location       28023 non-null  float64
 23  review_scores_value          28024 non-null  float64
 24  instant_bookable             38792 non-null  object
dtypes: float64(12), int64(5), object(8)
memory usage: 7.4+ MB

In [26]:
#구간 변수 결측값 평균으로 대체
#host_response_rate
mean_host_response_rate = delete_columns_data['host_response_rate'].mean()
delete_columns_data['host_response_rate'].fillna(mean_host_response_rate, inplace=True)

#bedrooms
mean_bedrooms = delete_columns_data['bedrooms'].mean()
delete_columns_data['bedrooms'].fillna(mean_bedrooms, inplace=True)

#beds
mean_beds = delete_columns_data['beds'].mean()
delete_columns_data['beds'].fillna(mean_beds, inplace=True)

#beds
mean_beds = delete_columns_data['beds'].mean()
delete_columns_data['beds'].fillna(mean_beds, inplace=True)

#review_scores_rating
mean_review_scores_rating = delete_columns_data['review_scores_rating'].mean()
delete_columns_data['review_scores_rating'].fillna(mean_review_scores_rating, inplace=True)

#review_scores_accuracy
mean_review_scores_accuracy = delete_columns_data['review_scores_accuracy'].mean()
delete_columns_data['review_scores_accuracy'].fillna(mean_review_scores_accuracy, inplace=True)

#review_scores_cleanliness
mean_review_scores_cleanliness = delete_columns_data['review_scores_cleanliness'].mean()
delete_columns_data['review_scores_cleanliness'].fillna(mean_review_scores_cleanliness, inplace=True)

#review_scores_checkin
mean_review_scores_checkin = delete_columns_data['review_scores_checkin'].mean()
delete_columns_data['review_scores_checkin'].fillna(mean_review_scores_checkin, inplace=True)

#review_scores_communication
mean_review_scores_communication = delete_columns_data['review_scores_communication'].mean()
delete_columns_data['review_scores_communication'].fillna(mean_review_scores_communication, inplace=True)

#review_scores_location
mean_review_scores_location = delete_columns_data['review_scores_location'].mean()
delete_columns_data['review_scores_location'].fillna(mean_review_scores_location, inplace=True)

#review_scores_value
mean_review_scores_value = delete_columns_data['review_scores_value'].mean()
delete_columns_data['review_scores_value'].fillna(mean_review_scores_value, inplace=True)

delete_columns_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 38792 entries, 0 to 38791
Data columns (total 25 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   id                           38792 non-null  int64
 1   host_response_time           25618 non-null  object
 2   host_response_rate           38792 non-null  float64
 3   host_is_superhost            38537 non-null  object
 4   neighbourhood_cleansed       38792 non-null  object
 5   latitude                     38792 non-null  float64
 6   longitude                    38792 non-null  float64
 7   room_type                    38792 non-null  object
 8   accommodates                 38792 non-null  int64
 9   bathrooms_text               38750 non-null  object
 10  bedrooms                     38792 non-null  float64
 11  beds                         38792 non-null  float64
 12  amenities                    38792 non-null  object
 13  price                        38792 non-null  object
 14  availability_90              38792 non-null  int64
 15  availability_365             38792 non-null  int64
 16  number_of_reviews            38792 non-null  int64
 17  review_scores_rating         38792 non-null  float64
 18  review_scores_accuracy       38792 non-null  float64
 19  review_scores_cleanliness    38792 non-null  float64
 20  review_scores_checkin        38792 non-null  float64
 21  review_scores_communication  38792 non-null  float64
 22  review_scores_location       38792 non-null  float64
 23  review_scores_value          38792 non-null  float64
 24  instant_bookable             38792 non-null  object
dtypes: float64(12), int64(5), object(8)
memory usage: 7.4+ MB

In [ ]:
#범주형 변수