<a href="https://colab.research.google.com/github/ParkJongHyeok99/Data_Analysis_Airbnb/blob/main/Data_Analysis_Real_Estate.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

google colab 연동 및 데이터 전처리

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
import pandas as pd

source_data = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/Data_Analysis/NYC Property Sales/nyc-rolling-sales.csv')
source_data.shape

(84548, 22)

In [ ]:
delete_columns_data = source_data.drop(['Unnamed: 0', 'BLOCK', 'LOT', 'EASE-MENT', 'ADDRESS', 'APARTMENT NUMBER', 'ZIP CODE', 'TOTAL UNITS', 'BUILDING CLASS AT TIME OF SALE', 'SALE DATE', 'NEIGHBORHOOD'], axis=1)
delete_columns_data.shape

(84548, 11)

In [ ]:
delete_columns_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 84548 entries, 0 to 84547
Data columns (total 11 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   BOROUGH                    84548 non-null  int64
 1   BUILDING CLASS CATEGORY    84548 non-null  object
 2   TAX CLASS AT PRESENT       84548 non-null  object
 3   BUILDING CLASS AT PRESENT  84548 non-null  object
 4   RESIDENTIAL UNITS          84548 non-null  int64
 5   COMMERCIAL UNITS           84548 non-null  int64
 6   LAND SQUARE FEET           84548 non-null  object
 7   GROSS SQUARE FEET          84548 non-null  object
 8   YEAR BUILT                 84548 non-null  int64
 9   TAX CLASS AT TIME OF SALE  84548 non-null  int64
 10  SALE PRICE                 84548 non-null  object
dtypes: int64(5), object(6)
memory usage: 7.1+ MB

In [ ]:
# '-'가 있는 행 찾기
rows_with_minus_sign = delete_columns_data[delete_columns_data.apply(lambda row: ' -  ' in row.values, axis=1)]

# 해당 행을 삭제
delete_columns_data = delete_columns_data.drop(rows_with_minus_sign.index)

delete_columns_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 48244 entries, 0 to 84547
Data columns (total 11 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   BOROUGH                    48244 non-null  int64
 1   BUILDING CLASS CATEGORY    48244 non-null  object
 2   TAX CLASS AT PRESENT       48244 non-null  object
 3   BUILDING CLASS AT PRESENT  48244 non-null  object
 4   RESIDENTIAL UNITS          48244 non-null  int64
 5   COMMERCIAL UNITS           48244 non-null  int64
 6   LAND SQUARE FEET           48244 non-null  object
 7   GROSS SQUARE FEET          48244 non-null  object
 8   YEAR BUILT                 48244 non-null  int64
 9   TAX CLASS AT TIME OF SALE  48244 non-null  int64
 10  SALE PRICE                 48244 non-null  object
dtypes: int64(5), object(6)
memory usage: 4.4+ MB

In [ ]:
# 구간 변수 RESIDENTIAL UNITS, COMMERCIAL UNITS, LAND SQUARE FEET, GROSS SQUARE FEET, YEAR BUILT, SALE PRICE  (6)

# 구간 변수 타입 변경
delete_columns_data['LAND SQUARE FEET'] = delete_columns_data['LAND SQUARE FEET'].astype(int)
delete_columns_data['GROSS SQUARE FEET'] = delete_columns_data['GROSS SQUARE FEET'].astype(int)
delete_columns_data['SALE PRICE'] = delete_columns_data['SALE PRICE'].astype(int)

In [ ]:
# 범주형 변수 BOROUGH, BUILDING CLASS CATEGORY, TAX CLASS AT PRESENT, BUILDING CLASS AT PRESENT, TAX CLASS AT TIME OF SALE, PRICE_B (6)

# PRICE_B 생성